$screen-sm-max:992px;

// General
body{ background:#f6f9fc; }
.hidden{ display:none !important }
.shadow{ box-shadow:0 2px 10px 0 rgba(0, 0, 0, .1) }
.animated{ animation-duration:0.3s; -webkit-animation-duration:0.3s; }
// App
.neighborhood-map{
    &__navbar{
        background:linear-gradient(to right, #4caf50, #cddc39);
        h1{ margin-bottom:0; line-height:20px; }
        .navbar-brand{ color:#fff; font-weight:100; text-transform:uppercase; transition:color 0.3s;
            strong{ font-weight:700; }
        }
    }

    &__aside{
        .filter{
            .list-group-item{ padding:0.4rem 1.25rem; cursor:pointer; transition:all 0.3s; }
            .list-group-item:hover{ background-color:#e8f5e9; color:#4caf50 }
        }
        .popular-places{
            .list-group{ overflow:auto; }
            .list-group-item{ border-left:0; border-right:0; }
            .icon-info{ margin-left:10px; border:1px solid black; border-radius:50%; padding:4px; opacity:0.5; cursor:pointer }
        }
    }
    &__main{
        #map{ min-height:500px; border-radius:10px; }

        /* Mobile devices (MOBILE < 992px) */
        @media (max-width:$screen-sm-max) {
            #map{ min-height:400px; }
        }
    }
}